@import "tailwindcss";

@theme {
    --font-agbalumo: "Agbalumo";
    --font-abril-fatface: "Abril Fatface";

    --color-primary: #7051ef;
    --color-primary-2: #e58bea;
    --color-primary-3: #7051ef;
    --color-dark: #3a395d;
    --color-grey: #f5f5f7;
}

@font-face {
    font-family: "Eina04";
    src: url("/fonts/eina/Eina04-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Eina04";
    src: url("/fonts/eina/Eina04-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Eina04";
    src: url("/fonts/eina/Eina04-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Eina04";
    src: url("/fonts/eina/Eina04-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

* {
    font-family: "Eina04", sans-serif;
    scroll-behavior: smooth !important;
}

@layer base {
    body {
        @apply bg-primary text-white;
    }
    .contain {
        @apply w-[90%] xl:w-[85%] max-w-[90%] mx-auto;
    }
}
